etcd_count = "3"
etcd_size = "1gb"
apiserver_count = "1"
apiserver_size = "1gb"
lb_size = "1gb"
kubelet_count = "1"
region = "sfo2"
image = "coreos-stable"
discovery_url = "ADD_ME"
vxlan_id = "1001"
do_read_token = "ADD_ME"
