etcd_count = "3"
etcd_size = "1gb"
apiserver_count = "1"
apiserver_size = "1gb"
lb_size = "1gb"
kubelet_count = "1"
kubelet_size = "1gb"
region = "sfo2"
image = "coreos-stable"
discovery_url = "DISCOVERY_URL"
vxlan_id = "1001"
do_read_token = "DO_READ_TOKEN"
resource_prefix = ""
